<script lang="ts" setup>
import { ref} from "vue";
const number = ref(0);
</script>
<template>
  <div>
    <v-form  ref="form">
    <v-container fluid>
      <v-row>
        <v-col cols="12">
      <v-text-field id="a" v-model="number" variant="outlined" label="Please Input Number"  
      :rules="[(v) => !!v || 'Number is not empty!!!',]" required></v-text-field>
    </v-col>
    </v-row>
   
    <v-row style="height: 80vh; overflow: auto">
      <v-col  cols="1" v-for="item in parseInt(number)" :key="item "> 
      <label>{{ item }}</label>
    </v-col>
      </v-row>
    </v-container>

  </v-form>

  </div> 
</template>
