<script lang="ts" setup>
import { ref } from "vue";
const sum = ref(0);

const allProduct = ref<{ id: number; name: string; price: number }[]>([]);
const increase = (product: { id: number; name: string; price: number }) => {
  allProduct.value.push(product);
  sum.value += product.price;
};
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <div style="height:70vh">
          <v-table max-width="auto" height="600">
            <v-row>
              <v-col v-for="item in products" :key="item.id" cols="4">
                <v-card class="mx-auto" max-width="150">
                  <v-card-item>
                      <div class="text-h5 mb-1" style="text-align: center">
                        {{ item.name }}
                      </div>
                      <div class="text-align mb-1" style="text-align: center">
                        {{ item.price }}
                      </div>
                  </v-card-item>

                  <div style="text-align: center; position: relative; bottom: 1vh">
                    <v-btn @click="increase(item)"> Add </v-btn>
                  </div>

                </v-card>
              </v-col>
            </v-row>
          </v-table>
        </div>
      </v-col>
      <v-col>
        <div>
          <v-table max-width="auto" height="450">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in allProduct" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
              <tr>
                <td class="text-center" style="text-align: center" colspan="5" v-if="allProduct.length === 0">
                  NO Data
                </td>
              </tr>
            </tbody>
          </v-table>
        </div>
        <div>
          <p style="font-size: 30pt" class="mt-15">Sum: {{ sum }}</p>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

