<script lang="ts" setup>
import { ref } from "vue";
const status = ref("Smile")
const img = ref("../feeling_imgs/smile.png");
function mode(emoji: string, pic: string) {
  status.value = emoji;
  img.value = pic;

};
</script>
<template>
  <v-container>
    <v-row><v-col>
        <div class="mx-3 mt-10">
          <v-img class="bg-white" width="450" :src="img"></v-img>
        </div>
      </v-col>
      <v-col>
        <div class="mx-3 mt-10">
          <v-col class="text-center text-h2">
            {{ status }}
          </v-col>
        </div>
        <div class="ma-3">
          <v-btn @click="mode('Angry', '../feeling_imgs/angry.png')" :class="img === 'Angry'" class="button button"
            depressed block>ANGRY</v-btn><br>
          <v-btn @click="mode('Cute', '../feeling_imgs/cute.png')" :class="img === 'Cute'" class="button button"
            depressed block>CUTE</v-btn><br>
          <v-btn @click="mode('Excited', '../feeling_imgs/excited.png')" :class="img === 'Excited'"
            class="button button" depressed block>EXCITED</v-btn><br>
          <v-btn @click="mode('Pain', '../feeling_imgs/pain.png')" :class="img === 'Pain'" class="button button"
            depressed block>PAIN</v-btn><br>
          <v-btn @click="mode('Shocked', '../feeling_imgs/shocked.png')" :class="img === 'Shocked'"
            class="button button" depressed block>SHOCKED</v-btn><br>
          <v-btn @click="mode('Smile', '../feeling_imgs/smile.png')" :class="img === 'Smile'" class="button button"
            depressed block>SMILE</v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>


</template>


<style scoped>
.button {
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #000000;
}

.button:hover {
  background-color: #F7FF03;
}
</style>
