<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <v-container>
    <v-card-title style="font-weight: bold">First Component</v-card-title>
  <div>{{ counterStore.count }}</div>
  <v-btn @click="counterStore.increment">INCREMENT</v-btn>
</v-container>
</template>
