<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <v-container>
    <v-card-title style="font-weight: bold">Second Component</v-card-title>
  <div>{{ counterStore.doubleCount }}</div>
  <v-btn @click="counterStore.decrement">DECREASE</v-btn
      >
</v-container>

</template>
